#container {
	background-color:rgb(36,113,163);
    color:white;
    padding:5px;
	
}
#div1{
	float: left;
	width: 300px;
	height: 0px;
	margin-left:500px;
}
#div2{
	float: left;
	width: 300px;
	height: 0px;
	margin-left:700px;
}

#footer{
    background-color:rgb(36,113,163);
    color:white;
    clear:both;
    text-align:center;
   	padding:5px;	 	 
}
