<form action="\urls" method="post">
	<input type ="text" name="long_url" placeholder= "Insert your URL here">
	<input type ="submit" value="Shorten!">
</form>
	

<%unless @url.nil? %>
<p> 
	Your new short URl is : 
	<a href="<%= @url.short_url%>"><%= @url.short_url%></a>
</p>
<%end%>

