<!DOCTYPE html>
<html lang ="en-UK">
	<head>
		<title> Shorty </title>
		<link rel="stylesheet" type="text/css" href="css/application.css">
	</head>
	<body>
			<div id='content'>
				<%= yield %>
			</div>
			<div id="footer">
				Copyright © kevinmocksite.com
			</div>
			
	</body>
</html>